@import url('https://font.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
	background: url('../images/10.jpg') no-repeat center center fixed;
	background-size: cover; 
}

.main-section{
	margin: 0 auto;
	margin-top: 170px;
	padding: 0;
}

.modal-content{
	background-color: #434e5a;
	opacity: .8;
	padding: 22px 60px 22px 60px;
	border-radius: 10px;
}

.title-login h1{
	color: black;
	font-size: 30px;
	font-family: sans-serif;
	text-align: center;
}

.title-login{
	margin-top: 15px;
	margin-bottom: 15px;
}

.form-group{
	margin-bottom: 20px;
}

.form-group input{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #00e6b8;
	padding: 21px 21px 21px 21px;
	height: 45px;
	letter-spacing: 1px;
	outline: none;
	color: orange;
	border-radius: 24px;
	transition: 0.25s;
}

.form-group input:focus{
	width: 80%;
	border-color: #00e6b8;
}

.form-input{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #2ecc71;
	padding: 7px 25px 7px 25px;
	outline: none;
	color: #2c3e50;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}

.form.input button:hover{
	background: #00e6b8;
}

.container {
color : pink ;

}

